header {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    padding: 0 1.5rem;
}

nav {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a, button {
    padding: 0.3rem;
    margin: 0 0.5rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    display: flex;
    /* position: relative; */
}

.spacer {
    flex: 1 1 auto;
}

.iconContainer {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 100%;
    text-align: center;
}

i {
    position: absolute;
    transform: translateX(-50%);
}

.DropDownContainer {
    position: relative;
    display: inline-block;
}