.SideNav {
	box-sizing: border-box;
	font-size: 1.2rem;
	background-color: #0d0d0d;
	position: fixed;
	width: 200px;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	top: 70px;
	left: 0;
	padding-top: 1rem;
	z-index: 1;
	padding-top: 25px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 0.383);
	border-width: 0 0.1px 0 0;
}

.NavBar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.NavBar hr {
	width: 100%;
}
