.file {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btn {
	padding: 0;
	margin: 0;
}

div {
	overflow: hidden;
}

.name {
	width: 40%;
}

/* div > span {
	overflow: hidden;
} */
