.file {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.btn {
	padding: 0;
	margin: 0;
}

div {
	overflow: hidden;
}

.name {
	width: 350px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.size {
	width: 70px;
	text-align: end;
}

.date {
	width: 200px;
	text-align: end;
}

.download {
	width: 50px;
}

.delete {
	width: 50px;
}

/* .fileContainer {
	margin-left: 12px;
} */
.fileName {
	margin-left: 32px;
}

hr {
	width: calc(100% + 10px) !important;
	transform: translateX(-5px);
}

/* .iconContainer {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 100%;
	text-align: center;
} */
