.UserFiles {
	position: relative;
	box-sizing: border-box;
	padding: 1rem;
	width: 100%;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	border: 1px solid white;
}
